            <div class="collapse navbar-collapse" id="menu">
            	<ul class="nav navbar-nav pull-right">
            		<li class="dropdown {% if page == 1 %} active {% endif %}"><a href="{{path('homepage')}}">HOME</a> 
            			<ul class="dropdown-menu">
            				<li><a href="{{path('homepage')}}">Strona główna</a></li>
            			</ul>
            		</li>
            		<!-- <li class="dropdown {% if page == 2 %} active {% endif %}"><a href="javascript:{}">O MNIE</a>
            			<ul class="dropdown-menu">
            				<li><a href="about.html">Zakres umiejętności</a></li>
            				<li><a href="timeline.html">Doświadczenie</a></li>
            			</ul>
            		</li> -->
            		<li class="dropdown {% if page == 3 %} active {% endif %}"><a href="{{path('portfolio')}}">PRACA</a>
            			<ul class="dropdown-menu">
            				<li><a href="{{path('portfolio')}}">Wykonane projekty</a></li>
            			</ul>
            		</li>

            		<li class="{% if page == 4 %} active {% endif %}"><a href="{{path('contact')}}">KONTAKT</a></li>
            	</ul>
            </div>